
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Maple Glazed Bacon</span>
    <span class="menu__item--price">$4.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Rosemary Roasted Potatoes</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Zenner’s Pork or Chicken Sausage</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Sausage Gravy</span>
    <span class="menu__item--price">$4.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>2 Eggs, scrambled or fried*</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Fruit Salad</span>
    <span class="menu__item--price">$4.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Toast with Housemade Jam</span>
    <span class="menu__item--price">$2.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Toast with Bacon Jam</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Real Maple Syrup</span>
    <span class="menu__item--price">$1.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Gluten Free Toast</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
