
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bloody Good Mary</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Pickle juice spiked bloody mary mix with New Deal Hot Monkey Vodka</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mimosa</span>
    <span class="menu__item--price">$6.00</span>
  </div>
  <div class="menu__item--description">
    <span>Sparkling Wine & freshly squeezed orange juice or grapefruit juice</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mimosas for the table</span>
    <span class="menu__item--price">$24.00</span>
  </div>
  <div class="menu__item--description">
    <span>A small carafe of freshly squeezed orange juice and a bottle of sparkling wine</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Aperol Sun</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Aperol, Vodka, fresh orange juice, cranberry juice</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Irish Winter</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Jameson's, Kahlua, hot coffee, whipped cream</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Oakheart Toddy</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Bacardi Oakheart spiced rum, black tea syrup, Allspice Dram, lemon, cinnamon. Served warm.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mexican Hot Chocolate</span>
    <span class="menu__item--price">$6.00</span>
  </div>
  <div class="menu__item--description">
    <span>Hot chocolate with Godiva liqueur and Hot Monkey vodka. Topped with whipped cream & cinnamon.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Strawberry Lemonade</span>
    <span class="menu__item--price">$7.00</span>
  </div>
  <div class="menu__item--description">
    <span>Housemade with fresh squeezed lemons and strawberries. Add a shot of vodka for $3</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Green Smoothie</span>
    <span class="menu__item--price">$7.00</span>
  </div>
  <div class="menu__item--description">
    <span>Kale, parsley, avocado, cucumber, banana, apple</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Sunshine Smoothie</span>
    <span class="menu__item--price">$6.00</span>
  </div>
  <div class="menu__item--description">
    <span>Orange, banana, pineapple, mango. Add a shot of rum for $3</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Fresh Orange Juice</span>
    <span class="menu__item--price">$4.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Fresh Grapefruit Juice</span>
    <span class="menu__item--price">$4.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Portland Roasting Coffee</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Jasmine Pearl Loose Leaf Teas</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Hot Chocolate</span>
    <span class="menu__item--price">$2.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
