<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bacon, Egg, & Cheese Pie</span>
    <span class="menu__item--price">$9.50</span>
  </div>
  <div class="menu__item--description">
    <span>Served with your choice of green salad, rosemary roasted potatoes or roasted sweet potato red pepper hash.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Eggs Benedict*</span>
    <span class="menu__item--price">$10.50</span>
  </div>
  <div class="menu__item--description">
    <span>Perfectly poached eggs on toasted English muffins with our lemony hollandaise sauce. Choose from bacon, ham, or spinach & grilled tomato. Served with rosemary roasted breakfast potatoes or roasted sweet potato red pepper hash. Sub GF bread for the English muffin for $1.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Skillet Eggs Rancheros*</span>
    <span class="menu__item--price">$10.50</span>
  </div>
  <div class="menu__item--description">
    <span>Chorizo, caramelized onion, zucchini and corn, baked over tortilla chips and topped with 2 eggs any style. Finished with salsa, avocado, feta and sour cream. Can also be prepared vegan with vegan chorizo and without eggs.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Pulled Pork Skillet*</span>
    <span class="menu__item--price">$10.50</span>
  </div>
  <div class="menu__item--description">
    <span>Slow cooked pulled pork, caramelized onion and rosemary roasted potatoes, topped with two eggs and melted Tillamook cheddar. Served with toast. Sub gluten free toast for $1.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Sweet Potato and Veggie Skillet*</span>
    <span class="menu__item--price">$10.00</span>
  </div>
  <div class="menu__item--description">
    <span>Sweet potato, caramelized onion, bell pepper, tomatoes, and baby spinach, topped with two eggs, feta, and cilantro yogurt sauce. Served with toast. Sub gluten free toast for $1.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Polenta with Tomato Compote & Goat’s Cheese*</span>
    <span class="menu__item--price">$10.00</span>
  </div>
  <div class="menu__item--description">
    <span>Topped with two eggs and fresh basil pesto, and served with toast. Sub gluten free toast for $1</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Vegan Frittata</span>
    <span class="menu__item--price">$9.00</span>
  </div>
  <div class="menu__item--description">
    <span>Fresh veggies baked in a zesty tofu sauce, served with a green salad. Upgrade to fruit salad for $1.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Breakfast Sandwich*</span>
    <span class="menu__item--price">$11.00</span>
  </div>
  <div class="menu__item--description">
    <span>Bacon jam, crisp bacon, goat’s cheese, baby spinach, 2 eggs. Served on a Grand Central brioche roll. Served with rosemary roasted potatoes or roasted sweet potato red pepper hash.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bangers & Eggs*</span>
    <span class="menu__item--price">$11.00</span>
  </div>
  <div class="menu__item--description">
    <span>Two Zenner's pork or chicken sausages, two eggs, and rosemary roasted potatoes or roasted sweet potato red pepper hash.. Served with toast. Sub gluten free toast for $1.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bacon & Eggs*</span>
    <span class="menu__item--price">$9.00</span>
  </div>
  <div class="menu__item--description">
    <span>Bacon, two eggs, and rosemary roasted potatoes or roasted sweet potato red pepper hash. Served with toast. Sub gluten free toast for $1.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>French Toast</span>
    <span class="menu__item--price">$9.50</span>
  </div>
  <div class="menu__item--description">
    <span>Made with Grand Central baguette, with your choice of warm whiskey apple pie filling and whipped cream, seasonal fruit compote and whipped cream, or real maple syrup & butter.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Breakfast Fruit Crisp</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Warm seasonal fruit pie filling topped with crunchy gluten free & vegan oat streusel. Served with your choice of yogurt & honey, ice cream, or dairy free ice cream.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Schnitzel & Gravy*</span>
    <span class="menu__item--price">$13.50</span>
  </div>
  <div class="menu__item--description">
    <span>A champion sized breakfast. Crispy chicken schnitzel, housemade sausage gravy, two eggs, and rosemary roasted potatoes. Served with toast.</span>
  </div>
</div>
