
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Classic Vanilla or Chocolate Shake</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>Topped with whipped cream.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chocolate Bourbon Hazelnut Pie Shake</span>
    <span class="menu__item--price">$6.50</span>
  </div>
  <div class="menu__item--description">
    <span>Our outrageously good pie blended with vanilla ice cream and topped with whipped cream and caramel sauce. Add a shot of bourbon $3.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chocolate Peanut Butter Pie Shake</span>
    <span class="menu__item--price">$6.50</span>
  </div>
  <div class="menu__item--description">
    <span>Vanilla ice cream and housemade chocolate sauce blended with our famous pie, topped with whipped cream and a surprise. Add a shot of Godiva Chocolate Liquor $4.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Key Lime Pie Shake</span>
    <span class="menu__item--price">$6.50</span>
  </div>
  <div class="menu__item--description">
    <span>Portland’s best Key Lime Pie blended with ice cream and topped with whipped cream. Add a shot of Bacardi $3</span>
  </div>
</div>
