
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Stellina de Notte Prosecco</span>
    <span class="menu__item--price">$7.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Hot Chocolate</span>
    <span class="menu__item--price">$2.75</span>
  </div>
  <div class="menu__item--description">
    <span>Ghiradelli chocolate with marshmallows & whipped cream</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Portland Roasting Coffee</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Jasmine Pearl Loose Leaf Tea</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
