
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Oakheart Toddy</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Bacardi Oakheart Spiced Rum, black tea syrup, Allspice Dram, fresh lemon juice, served warm.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Roasted Toasted Almond</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Vodka, Kahlua, Amaretto, cream, served on the rocks or up.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Irish Winter</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Jameson’s, Kahlua, hot coffee, whipped cream.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mint Chocolate Martini</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Vodka, Godiva Chocolate Liqueur, mint bitters, cream.</span>
  </div>
</div>
