
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Organic Green Salad</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>Mixed organic greens, carrot, radish, tomatoes, and choice of housemade Balsamic Vinaigrette, Ginger Soy, Blue Cheese, or Ranch dressing.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Aussie Caesar Salad</span>
    <span class="menu__item--price">$7.00</span>
  </div>
  <div class="menu__item--description">
    <span>Crisp romaine tossed in our lemony Caesar dressing with pecorino cheese & bacon.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Spinach & Rainbow Carrot Salad</span>
    <span class="menu__item--price">$7.00</span>
  </div>
  <div class="menu__item--description">
    <span>Organic baby spinach, rainbow carrots, savory granola (nuts & seeds toasted in savory spices), and tahini dressing.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Arugula and Roasted Squash Salad</span>
    <span class="menu__item--price">$7.00</span>
  </div>
  <div class="menu__item--description">
    <span>Organic arugula topped with molasses roasted butternut squash, feta, candied walnuts, currants, and balsamic vinaigrette.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Quinoa Salad</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Tri-color quinoa in a light lemony vinaigrette with apples, kale, feta, and sunflower seeds on a bed of greens.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chef Salad</span>
    <span class="menu__item--price">$9.00</span>
  </div>
  <div class="menu__item--description">
    <span>Organic salad greens, chicken breast, Tillamook cheddar cheese, deviled eggs, choice of dressing.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Cobb Salad</span>
    <span class="menu__item--price">$10.00</span>
  </div>
  <div class="menu__item--description">
    <span>Romaine lettuce, chicken breast, avocado, tomatoes, bacon, blue cheese, hard boiled egg, and blue cheese dressing.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Add all natural chicken breast to any salad</span>
    <span class="menu__item--price">add $4.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Soup</span>
    <span class="menu__item--price">Cup 3.50 / Bowl 5</span>
  </div>
  <div class="menu__item--description">
    <span>Seasonal soups made from scratch by our chefs. Served with bread</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Salad & Soup Combo</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>A cup of soup with a smaller portion of any salad.</span>
  </div>
  <div class="menu__item--description">
    <span>With Cobb or Chef Salad.</span>
    <span style="float: right;">$9.00</span>
  </div>
</div>