
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>All served with a choice of a small green salad, potato wedges, or a cup of soup. Upgrade to one of our specialty salads or side dishes for $2.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Lamb Meatball Wrap</span>
    <span class="menu__item--price">$10.00</span>
  </div>
  <div class="menu__item--description">
    <span>Spiced lamb meatballs, feta, pickled red onions, baby spinach, cucumber, tomatoes, and cilantro yogurt sauce on pita.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Asian Quinoa Wrap</span>
    <span class="menu__item--price">$8.00</span>
  </div>
  <div class="menu__item--description">
    <span>Tri-colored quinoa, avocado, tomatoes, kale, carrots, cucumber, sunflower seeds, and ginger soy sauce.</span>
  </div>
  <div class="menu__item--description">
    <span>Add chicken breast.</span>
    <span style="float: right;">add $2.00</span>
  </div>
</div>


<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Toasted Chicken, Artichoke & Spinach</span>
    <span class="menu__item--price">$10.50</span>
  </div>
  <div class="menu__item--description">
    <span>Chicken breast, creamy artichoke and spinach spread, and pecorino on Grand Central Como bread.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Grilled Cheese Royale</span>
    <span class="menu__item--price">$9.00</span>
  </div>
  <div class="menu__item--description">
    <span>Tillamook cheddar, bacon jam, caramelized onions, on Grand Central Como bread.</span>
  </div>
</div>
