
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Classic Sausage Roll</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mashed Potatoes & Onion Gravy</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Oven Fried Potato Wedges</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Lemon Garlic Roasted Broccoli</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Kale Slaw</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mac & Cheese</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
