
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>Ask your server what our chefs are cooking up today!</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>Our chefs love to present beautiful, seasonal produce in special dishes that will delight you.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>Daily availability of market specials may be limited.</span>
  </div>
</div>
