
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>All entrees served with a small green salad (except Pie Floater). Upgrade to one of our specialty salads or side dishes for $2.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Cottage Pie</span>
    <span class="menu__item--price">$12.00</span>
  </div>
  <div class="menu__item--description">
    <span>Beef cooked in a rich gravy with peas & carrots, topped with mashed potatoes and Tillamook Cheddar.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Shepherd’s Pie</span>
    <span class="menu__item--price">$13.00</span>
  </div>
  <div class="menu__item--description">
    <span>Willamette Valley lamb and veggies in a savory gravy, topped with mashed sweet potato.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Lentil & Veggie Shepherd’s Pie</span>
    <span class="menu__item--price">$10.00</span>
  </div>
  <div class="menu__item--description">
    <span>French green lentils, carrots, sweet potatoes, turnips, and potatoes cooked in a savory porcini mushroom vegan gravy, topped with vegan mash.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Pie Floater</span>
    <span class="menu__item--price">$10.00</span>
  </div>
  <div class="menu__item--description">
    <span>A crazy but delicious Aussie dish. Your choice of meat pie or vegetarian pastie floating in a big bowl of our housemade pea soup.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bangers & Mash</span>
    <span class="menu__item--price">$13.00</span>
  </div>
  <div class="menu__item--description">
    <span>Zenner’s sausages, served with mashed potatoes & gravy.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chicken & Polenta</span>
    <span class="menu__item--price">$14.00</span>
  </div>
  <div class="menu__item--description">
    <span>Herb roasted chicken breast, polenta, tomato compote, goat’s cheese, and fresh basil pesto.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chicken Schnitzel</span>
    <span class="menu__item--price">$14.00</span>
  </div>
  <div class="menu__item--description">
    <span>An Aussie pub favorite. Skillet fried seasoned & crumbed chicken breast, served with mashed potatoes or potato wedges.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">add $3.00</span>
  </div>
  <div class="menu__item--description">
    <span>Add bacon & melted Tillamook Cheddar.</span>
  </div>
</div>
