
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>House-made Ginger Lemonade</span>
    <span class="menu__item--price">$2.75</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Fresh Brewed Iced Tea</span>
    <span class="menu__item--price">$2.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Perrier</span>
    <span class="menu__item--price">$2.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mexican Coke or Sprite</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Diet Coke</span>
    <span class="menu__item--price">$2.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Hot Lips Natural Fruit Soda</span>
    <span class="menu__item--price">$3.25</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Italian Lemon Soda</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Nantucket Nectars Juice</span>
    <span class="menu__item--price">$2.75</span>
  </div>
  <div class="menu__item--description">
    <span>Apple, Orange, Cranberry, Lemonade</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bundaberg Australian Soda</span>
    <span class="menu__item--price">$3.50</span>
  </div>
  <div class="menu__item--description">
    <span>Ginger Beer, Root Beer, Blood Orange</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Fentimans Soda</span>
    <span class="menu__item--price">$3.25</span>
  </div>
  <div class="menu__item--description">
    <span>Curiosity Cola, Tonic</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Wonder Kombucha</span>
    <span class="menu__item--price">$3.50</span>
  </div>
  <div class="menu__item--description">
    <span>Asian Pear, Cherry Cassis</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Hot Chocolate</span>
    <span class="menu__item--price">$2.75</span>
  </div>
  <div class="menu__item--description">
    <span>Ghiradelli chocolate with marshmallows & whipped cream</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Portland Roasting Coffee</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Jasmine Pearl Loose Leaf Tea</span>
    <span class="menu__item--price">$3.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
