
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Sparkling</span>
    <span class="menu__item--price">$7/$22</span>
  </div>
  <div class="menu__item--description">
    <span>Stellina de Notte Prosecco (Italy)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>White & Rosé</span>
    <span class="menu__item--price">$5/$18</span>
  </div>
  <div class="menu__item--description">
    <span>House White  (Domino California Pinot Grigio)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$6</span>
  </div>
  <div class="menu__item--description">
    <span>Powers Chardonnay  (Columbia Valley, WA)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$7/$22</span>
  </div>
  <div class="menu__item--description">
    <span>Mitchell Wine Co. The Visionary Pinot Gris (Eola Amity, OR)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Red</span>
    <span class="menu__item--price">$5/$18</span>
  </div>
  <div class="menu__item--description">
    <span>House Red  (Domino California Cabernet Sauvignon)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$8/$24</span>
  </div>
  <div class="menu__item--description">
    <span>Mitchell Wine Co. The Craftsman Pinot Noir (Eola Amity, OR)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$6</span>
  </div>
  <div class="menu__item--description">
    <span>Powers Syrah  (Columbia Valley, WA)</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$6/$20</span>
  </div>
  <div class="menu__item--description">
    <span>Barricas Malbec (Mendoza Argentina)</span>
  </div>
</div>
