
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Draft Beer</span>
    <span class="menu__item--price">$3.75 glass/$5 pint</span>
  </div>
  <div class="menu__item--description">
    <span>Ask your server what’s on tap today</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bottles</span>
    <span class="menu__item--price">$4.75</span>
  </div>
  <div class="menu__item--description">
    <span>Coopers (South Australia) Pale or Sparkling</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$4.25</span>
  </div>
  <div class="menu__item--description">
    <span>Boulder Beer Co Chocolate Shake Porter  (Boulder, CO) Try it as a Porter Float with Vanilla Ice Cream!</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$2.50</span>
  </div>
  <div class="menu__item--description">
    <span>Old German Tallboys</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$4.75</span>
  </div>
  <div class="menu__item--description">
    <span>Anthem Cider (Oregon) Apple or Cherry</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price">$4.75</span>
  </div>
  <div class="menu__item--description">
    <span>Sonoma Cider  (California) Pear or Bourbon</span>
  </div>
</div>
