
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>Kids meals include crunchy veggies with dip + an Anzac cookie</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Sausage Roll</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>A kid friendly version of the classic.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Cheesy Veg Pastie</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>Less peppery and more cheesy, just for kids.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Grilled Cheese</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>Tillamook Cheddar on Grand Central Como Bread</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>PB & J</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>Adam's Natural Creamy Peanut Butter and jam on Grand Central Como Bread</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Milk</span>
    <span class="menu__item--price">$1.50</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Orange or Apple Juice</span>
    <span class="menu__item--price">$2.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
