
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Apple Sour Cream Streusel Pie</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span>Local apples in a light creamy custard with crunchy walnut streusel</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chocolate Peanut Butter Pie</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span>A graham cracker crust with a creamy peanut butter filling and dark chocolate ganache.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chocolate Bourbon Hazelnut Pie</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span>Enough said.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Key Lime Pie</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span>Made with hand squeezed limes. Creamy, citrusy, and delicious.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Pecan Pie Bar</span>
    <span class="menu__item--price">$5.50</span>
  </div>
  <div class="menu__item--description">
    <span>A flaky shortbread tart with gooey pecan filling.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Salted Chocolate Caramel Tart</span>
    <span class="menu__item--price">$5.50</span>
  </div>
  <div class="menu__item--description">
    <span>Chocolate tart shell, homemade caramel, chocolate ganache, pink salt.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Lamington with Jam and Cream</span>
    <span class="menu__item--price">$5.00</span>
  </div>
  <div class="menu__item--description">
    <span>An Aussie favorite, sponge cake covered in chocolate icing and coconut</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Seasonal Fruit Crisp</span>
    <span class="menu__item--price">$7.50</span>
  </div>
  <div class="menu__item--description">
    <span>Seasonal fruit topped with a crunchy gluten free & vegan streusel and topped with vanilla ice cream or dairy free ice cream.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Make your pie a la mode</span>
    <span class="menu__item--price">$1.00</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Add dairy free ice cream</span>
    <span class="menu__item--price">$1.75</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Add fresh whipped cream</span>
    <span class="menu__item--price">$0.75</span>
  </div>
  <div class="menu__item--description">
    <span></span>
  </div>
</div>
