
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mini Sausage Rolls</span>
    <span class="menu__item--price">7.5</span>
  </div>
  <div class="menu__item--description">
    <span>A half dozen mini sausage rolls, served with house made beer mustard.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Mini Pasties</span>
    <span class="menu__item--price">7.5</span>
  </div>
  <div class="menu__item--description">
    <span>3 each of Spinach & Feta and Curried Samosa, served with cilantro yogurt dipping sauce.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Deviled Egg</span>
    <span class="menu__item--price">4</span>
  </div>
  <div class="menu__item--description">
    <span>Local egg, deviled with a hint of habanero, fresh herbs, and pickled red onion.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Bread Plate</span>
    <span class="menu__item--price">4</span>
  </div>
  <div class="menu__item--description">
    <span>Grand Central bread, pink salt, olive oil, and Dukkah (a condiment popular in Australia with toasted cumin, coriander, fennel, sesame seeds, and hazelnuts).</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Moroccan Spiced Lamb Meatballs</span>
    <span class="menu__item--price">8</span>
  </div>
  <div class="menu__item--description">
    <span>Six mini meatballs, served with cilantro yogurt sauce, cucumber, and pita bread.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Polenta with Tomato Compote</span>
    <span class="menu__item--price">7</span>
  </div>
  <div class="menu__item--description">
    <span>Baked polenta with tomato compote, goat۪s cheese, and fresh basil pesto.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Oven Fried Potato Wedges</span>
    <span class="menu__item--price">6.5</span>
  </div>
  <div class="menu__item--description">
    <span>An Aussie pub favorite, seasoned potato wedges with sweet chili sauce and sour cream for dipping.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Warm Spinach & Artichoke Dip</span>
    <span class="menu__item--price">7.5</span>
  </div>
  <div class="menu__item--description">
    <span>A creamy dip packed with spinach, artichokes and garlic. Served with baguette slices.</span>
  </div>
</div>
