
<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span></span>
    <span class="menu__item--price"></span>
  </div>
  <div class="menu__item--description">
    <span>A la Carte</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Steak & Cheese Pie</span>
    <span class="menu__item--price">$7.75</span>
  </div>
  <div class="menu__item--description">
    <span>A Kiwi favorite. Tender beef in a savory onion gravy with Tillamook Cheddar.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Beef & Mushroom Pie</span>
    <span class="menu__item--price">$7.75</span>
  </div>
  <div class="menu__item--description">
    <span>Beef simmered in a delicious onion gravy, combined with organic crimini mushrooms sautéed in butter and herbs.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Classic Chicken Pie</span>
    <span class="menu__item--price">$7.75</span>
  </div>
  <div class="menu__item--description">
    <span>Our spin on the classic pot pie. All natural chicken cooked in a white sauce with peas and carrots.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Chicken Burrito Pie</span>
    <span class="menu__item--price">$7.75</span>
  </div>
  <div class="menu__item--description">
    <span>Chicken with tomatoes, jalapenos, bell peppers, black beans, brown rice, and Tillamook cheddar—like a burrito in pie form!</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Roast Lamb Pie</span>
    <span class="menu__item--price">$7.75</span>
  </div>
  <div class="menu__item--description">
    <span>SuDan Farm lamb braised in a Shiraz red wine sauce with roasted potatoes, yams, carrots and onions.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Pulled Pork Pastie</span>
    <span class="menu__item--price">$7.75</span>
  </div>
  <div class="menu__item--description">
    <span>Tender slow roasted pork with sautéed red bell peppers and onions in our housemade molasses BBQ sauce.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Curried Samosa Pastie</span>
    <span class="menu__item--price">$6.75</span>
  </div>
  <div class="menu__item--description">
    <span>Our take on the popular Indian dish, with fragrantly spiced potatoes, carrots, peas, and onions. Served with cilantro yogurt sauce.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Spinach & Feta Pastie</span>
    <span class="menu__item--price">$6.75</span>
  </div>
  <div class="menu__item--description">
    <span>One of our best sellers. Tender spinach, creamy feta, and organic tomatoes with a hint of spice.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Kale, Sweet Potato, & Goat Cheese Pastie</span>
    <span class="menu__item--price">$6.25</span>
  </div>
  <div class="menu__item--description">
    <span>Roasted sweet potato, caramelized onions, kale and goat’s cheese.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Classic Sausage Roll</span>
    <span class="menu__item--price">$4.50</span>
  </div>
  <div class="menu__item--description">
    <span>Caution - our sausage rolls are seriously addictive! Housemade sausage made from all natural pork, seasoned with sage, thyme, and secret spices.</span>
  </div>
</div>

<div class="menu__item mb-5">
  <div class="menu__item--title mb-8">
    <span>Curried Lentil & Veggie Pie</span>
    <span class="menu__item--price">$6.25</span>
  </div>
  <div class="menu__item--description">
    <span>Made by Queen of Hearts Baking Co, a dedicated GF bakery. Lentils, sweet potatoes, and kale with coconut and curry spices.</span>
  </div>
</div>
